*saveload.windows.template_debug.x86_64.dll
*saveload.windows.template_debug.x86_64.exp
*saveload.windows.template_debug.x86_64.lib
*saveload.windows.template_debug.x86_64.pdb

demo/.godot/
demo/android/
*.import
